#divPrincipal {
    width: 90%;
    margin: 0 auto;
}

#banner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

#otroDiv {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contenedorTarjetas {
    margin-top: 30px;
    width: 100%;
    
}

.tarjeta {
    border: 1px solid #000000;
    padding: 1%;
    display: inline-block;
}

.tarjetaUnTercio {
    width: 30%;
    height: 450pt;
}

.tarjetaUnCuarto {
    width: 22%;
}

.imagenAnchoCompleto {
    width: 100%;
    height: 200px;
}

.descripcion {
    width: 73%;
    border: 1px solid #000000;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
}
.enlace {
    width: 25%;
    border: 1pt solid #000000;
    float:right;
}
.parrafopropio {
    margin: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover {
    color: rgb(22, 19, 204);  
    font-weight: bold;
    text-decoration: none;
}
.fotopersonaje{
    width: 48%;
    height: 60%;
    float: left;
    border: 2px solid #000000;
}
h1 {
    color: rgb(10, 10, 10);
    font-size: 24pt;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #c8d1d1;
}
.alinear {
    text-align: right;
}
.video{
    width: 35%;
    height: 215px;
    align-content: flex-start;
}